<template name="history">
    <div class="row">
        <div class="span4">
            <h1>User login history</h1>
        </div>
    </div>    
    <div class="row">
        <div class="span8">
            <div id="history">
                <table class="table table-striped">
                    <tr>
                        <td>1 </td>
                        <td>127.0.0.1 </td>
                        <td>http://git.localhost/ </td>
                        <td>2012-08-11 16:10:00 </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>