<template name="security">
    <div class="row">
        <div class="span8">
            <h1>Security rules</h1>
            <p>Only the networks or IPs listed below have permission to login with this account. If there is no registered network below, any IP address can login.</p>
        </div>
    </div>    
    <div class="row">
        <div class="span">
            <input type="text" name="ip" class="span3" placeholder="0.0.0.0/32">
            <button class="btn btn-primary" id="add-rule">Add new rule</button>
        </div>  
    </div>
    <div class="row">
        <div class="span5">
            <table class="table table-striped">
                {{#each networks}}
                <tr>
                    <td> {{ip}} </td>
                    <td width="25%"> 
                        <span class="btn-group">
                            <a class="btn remove"><i class="icon-remove"></i></a>
                        </span>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</template>